<div class="row" ng-controller="movieEditorController" action="/action_page.php">
  <div class="col-xs-12">
    <div class="row bottom15">
      <div class="col-xs-12 col-md-8">
        Title: 
        <input type="text" name="fname" class="form-control" ng-model="movie.Title">
      </div>
    </div>

    <div class="row bottom15">
      <div class="col-xs-12 col-md-8">
        Description:
        <textarea type="text" name="lname" class="form-control edit-item-description" ng-model="movie.Description"></textarea>
      </div>
    </div>
    <div class="row bottom25">
      <div class="col-xs-12 col-md-8">
        Link:
        <input type="text" name="lname" class="form-control" ng-model="movie.Image">
      </div>
    </div>
    <input type="button" class="publish" value="{{btnSaveText}}" ng-click="saveMovie()">
    <input type="button" ng-if="viewState=='edit'" class="delete" id="slide_stop_button" value="Delete" ng-click="deleteMovie()">
  </div>
</div>