.navbar-nav li > a {
	text-transform: capitalize;
	color: #333;
	transition: background-color .2s, color .2s;
	
	&:hover,
	&:focus {
		background-color: #333;
		color: #fff;
	}
}

.navbar-nav li.active > a {
	background-color: #333;
	color: #fff;
}


.blog-list-item{
    height: 340px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1.2px solid rgb(231, 231, 231);
    background-color: #f8f8f8;
}

.blog-list-item:hover{
    -webkit-box-shadow: 0px 0px 39px -6px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 39px -6px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 39px -6px rgba(0,0,0,0.31);
}

.blog-list-title{
    margin-top: 0px;
    color: #777;
}

.blog-list-img{
    max-height: 180px;
    margin-bottom: 15px;
}

.blog-list-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.edit-item-description{
    min-height: 275px;
}

.bottom10{
    margin-bottom: 10px;
}
.bottom15{
    margin-bottom: 15px;
}
.bottom20{
    margin-bottom: 20px;
}
.bottom25{
    margin-bottom: 25px;
}